<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waiting List Bot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<body>
    <div style="color: white; height: 100vh;">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
