@page
@model WaitingListBot.Web.Areas.Identity.Pages.AccountModel
@{
    ViewData["Title"] = "Servers";
}

<h1>Hello @User.Identity.Name</h1>
@if (Model.Servers != null)
{
<ul class="list-group">
    @foreach (var server in Model.Servers)
    {
        <li class="list-group-item"><img src="https://cdn.discordapp.com/icons/@(server.Id)/@(server.Icon).png?size=64"/> <a class="text-muted" asp-page="WaitingList" asp-route-id="@server.Id">@server.Name</a></li>
    }
</ul>
}
