@page
@using Microsoft.Extensions.Diagnostics.HealthChecks
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>What is this?</h2>
<p>The main use case for this bot is to allow streamers to schedule private matches with their viewers. Viewers can enter a waiting list and will receive information (like a name and password) to enter a match if it is their turn to play.</p>
<p>The bot is able to prioritize a specific role (for example Twitch subscribers). It also allows players to reenter the list after they already played with a lower priority than players that have not.</p>
<p></p>